:root {
  --tile-size: 128px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  background: #3a6e94;

}

header, main {
  display: grid;
  place-content: center;
  gap: 16px;
}

header {
  height: 4rem;
  font-size: 2rem;
}

game-board {
  gap: 4px;
  background: #3a6e94;
  /*border: solid 2px red;*/
  border-radius: 10px;
}

game-tile {
  width: var(--tile-size);
  height: var(--tile-size);
  background: #3a6e94;
  border: 4px #5d87a6 inset;
  border-radius: 8px;
  /*border-style: 32px 8px;*/
}

game-token {
  width: var(--tile-size);
  height: var(--tile-size);
  background: #655cb6;
  border: solid 2px darkslateblue;
  border-radius: 8px;
}


game-score {
  background: #3a6e94;
  border: 4px #5d87a6 outset;
  border-radius: 8px;
  /*border-style: 32px 8px;*/
}
