* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

header, main {
  display: grid;
  place-content: center;
  gap: 16px;
}

header {
  height: 4rem;
  font-size: 2rem;
}
